# Since .env is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly

# Prisma
DATABASE_URL=mysql://127.0.0.1:3306/main

# https://magic.link
MAGIC_SECRET_KEY=sk_test_****************
NEXT_PUBLIC_MAGIC_PUB_KEY=pk_test_****************

IRON_SESSION_PASSWORD=$(openssl rand -base64 32)
